#maccon {
  #ismacconopen {
    display: block;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    font-size:10em;

    text-transform: uppercase;
  }

  .rainbow {
    background-image: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(50%, rgba(232,0,0,1)), color-stop(100%, rgba(28,28,28,1)));
    background-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(232,0,0,1) 50%, rgba(28,28,28,1) 100%);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .open {
    color: green;
  }

  .closed {
    color: red;
  }
}
